* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Inter", sans-serif;
}
*:active,
*:focus {
   outline: none;
}
a {
   text-decoration: none;
   color: #ffffff;
}
.container {
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
}
.main {
   width: 100%;
   max-width: 500px;
   margin: 0 auto;
   padding: 50px 30px;
   text-align: center;
}
.logo {
   width: 80%;
}
.sub-logo {
   margin-bottom: 20px;
}
.text {
   font-weight: bold;
   font-size: 18px;
   color: #06d6a0;
}
.btn {
   display: block;
   width: 100%;
   margin-top: 20px;
   padding: 20px;
   border: none;
   border-radius: 15px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   text-align: center;
   font-weight: bold;
   font-size: 18px;
   color: #ffffff;
   cursor: pointer;
}
.green {
   background-color: #06d6a0;
}
.blue {
   background-color: #1f91b6;
}
.white {
   color: #06d6a0;
   border: 2px solid #06d6a0;
}
